<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Hello world</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <h1>This is a header</h1>
      <form method="post" action="/predict">
         <label for="cat_name">Enter the 4 parameters to make a new prediction with the trained model</label><br>
         <input type="text" id="cat_name" name="cat_name">
         <input class="submit" type="submit" value="Submit">
      </form>
      <p>Result: {{ result }}</p>
   </body>
</html>